.close {
  position: absolute;
  top: 6px;
  right: 16px;
  cursor: pointer;
  color: var(--main-color);
  font-size: 2em;
}

.key-input {
  border-radius: 6px;
  width: 50%;
  height: 42px;
  margin: 20px 0 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.489);
  color: rgb(255, 255, 255);
  font-size: 1em;
  padding: 6px;
}

.key-input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.855);
}

.key-input:focus::placeholder {
  color: transparent;
}

.key-title {
  font-size: 1.6em;
}

.key-button {
  color: rgb(176, 176, 176);
  border: 1px solid rgba(255, 255, 255, 0.489);
  border-radius: 6px;
  padding: 12px 22px 12px 22px;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.3s ease-in-out;
}

.key-button:hover {
  border: 1px solid #10e110ac;
  color: #10e110ac;
  transition: ease-in-out;
}
