.title {
  margin: 0;
}

.current-class-container p {
  margin: 12px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-icon {
  width: 40px;
  padding-right: 6px;
}

@media only screen and (max-width: 920px) {
  .current-icon {
    width: 30px;
  }
}
