.timer-container {
  margin-top: 30px;
  padding: 12px 0;
  border-top: 1px solid #abb1ac40;
}

.clock {
  margin: 0;
  font-size: large;
}

.next-class {
  margin: 0;
}

.clock-header {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .timer-container {
    padding-top: 12px;
  }
}
