.wrapper {
  display: flex;
  width: 100%;
  min-height: 60vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px 30px;
}

.users-table {
  min-width: 240px;
}

.users-table {
  width: 180px;
  background-color: #222222;
  border-radius: 6px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px #abb1ac40;
}

.checked {
  opacity: 1;
}

.unChecked {
  opacity: 0.3;
}

.check-mark {
  color: green;
}

@media only screen and (max-width: 600px) {
  .users-table {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    font-size: 18px;
    gap: 20px 30px;
  }
}
