.wrapper {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; 
  gap: 20px 30px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.users-table {
  min-width: 240px;
}

.name {
  margin: 0;
  font-size: 20px;
}

.reward {
  font-size: 14px;
  margin: 0;
}

.name-wrapper {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.users-table {
  width: 180px;
  border-radius: 6px;
  padding: 0 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checked {
  opacity: 1;
}

.unChecked {
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .users-table {
    width: 80%;
  }

  .name-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    font-size: 18px;
    gap: 20px 30px;
  }
}
