.App {
  text-align: center;
}

.logo {
  max-width: 80px;
}

.clock-wrapper {
  min-width: 8vw;
  min-height: 8vw;
}

.App-header {
  font-family: "Nova Square", display;
  display: flex;
  align-items: start;
  padding: 40px 60px 0 60px;
  justify-content: space-between;
  font-size: calc(0.5em + 2vmin);
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  padding: 0 30px 12px 30px;
  border-radius: 6px;
  min-width: 110px;
  min-height: 120px;
}

@media only screen and (max-width: 720px) {
  .App-header {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0 0 0;
    margin-bottom: 40px;
  }

  .box {
    flex: 0 0 100%;
  }

  .box:nth-child(2) {
    order: 0; /* Moves current class to top */
  }

  .logo {
    max-width: 60px;
  }

  .clock-wrapper {
    display: none;
  }
}
