.App {
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #222222;
}

.logo {
  width: 160px;
}

.App-header h3 {
  margin: 12px;
}

.App-header {
  width: 100%;
  font-family: "Nova Square", display;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #222222;
  margin-bottom: 30px;
  border-bottom: 1px solid #abb1ac40;
}

@media only screen and (min-width: 1024px) {
  .App-header {
    padding-top: 20px;
  }

  .footer {
    padding-bottom: 20px;
  }
}
