.App {
  text-align: center;
  height: 100vh;
  background-image: url('../public/ak-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.logo {
  max-width: 100px;
}

.App-header {
  font-family: "Nova Square", display;
  display: flex;
  align-items: start;
  padding: 40px 60px 0 60px;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: #222222;
  margin-bottom: 80px;
  border-bottom: 1px solid #abb1ac40;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 0 6px #abb1ac40;
  background-color: #1d1d1d;
  padding: 0 30px 12px 30px;
}

@media only screen and (max-width: 700px) {
  .App-header {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .box {
    flex: 0 0 100%;
  }

  .box:nth-child(2) {
    order: 0; /* Moves current class to top */
  }

  .logo {
    max-width: 60px;
  }

  .clock-wrapper {
    display: none;
  }
}
