.light-bg-secondary {
  background-color: var(--background-light-secondary);
}

.dark-bg-secondary {
  background-color: var(--background-dark-secondary);
}

.light-bg-primary {
  background-color: var(--background-light-primary);
}

.dark-bg-primary {
  background-color: var(--background-dark-primary);
}

.light-font {
  color: var(--text-dark);
}

.dark-font {
  color: var(--text-light);
}

.light-box-shadow {
  box-shadow: 0 0 6px var(--box-shadow-light);
}

.dark-box-shadow {
  box-shadow: 0 0 6px var(--box-shadow-dark);
}

h4 {
  font-size: 0.8em;
}

h1 {
  font-size: 1.6em;
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-size: 0.5em;
}
